<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    给实体类起默认别名-->
    <typeAliases>
        <package name="com.zhangzhaoru.pojo"/>
    </typeAliases>

    <!--     注册实体类操作-->
    <mappers>
        <mapper resource="com/zhangzhaoru/dao/BookMapper.xml"/>
    </mappers>


</configuration>